version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    container_name: brain-backend-prod
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - ./backend/data:/app/data
      - ./.env:/app/.env
    env_file:
      - .env

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    container_name: brain-frontend-prod
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
